body {
  background-color: #035918;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #F2CB05;
}
p {
  font-size: 2rem;
  color: #F2CB05;
  font-family: 'Indie Flower', cursive;
}
img {
  width: 80%;
}
footer {
  margin-top: 5%;
  color: #fff;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
  margin: 50px 50px;
}
